ul.striped-list > li:nth-of-type(odd) {
    background-color: #ebebeb ;
}

ul {
  list-style: none;
}

.app-component {
  display: flex;
  flex-wrap: wrap;
}

.roomListComponent {
  width: 20%;
  float: left;
  background-color: #dedede;
}



.room-list-item:hover {
  background-color: #f7f7f7;

}

.messageListComponent {
  width: 80%;
  float: left;
  background-color: #f7f7f7;
}

.message {
  width: 100%;
}
